.div{

    padding: 2rem;
    
    float:left ;
    

}
.imgPerfil{

    width: 20rem;
    height: 20rem;
    border-radius: 20%;
}
.areaContacto{

    float:left ;
    padding: 2rem;
    width: 50%;
    border-radius: 5%;
}

.button-container{
display: flex;
justify-content: center;
width: 10%;
}
