<div class="div">

    <img class="imgPerfil" src="/assets/Imagenes/imagen-de-Perfil.jpg">
    <div>
        <h2>Hola mi nombre es: Andres Mauricio Ovalle</h2>
    </div>
</div>

<div class="areaContacto">

    <h2>Area de contactos</h2>
    <hr>

    <form role="form">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre ">
        </div>

        <div class="form-group">
            <label for="nombre">Apellido:</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido ">
        </div>

        <div class="form-group">
            <label for="email">Dirección de correo:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo">
        </div>

        <div class="form-group">
            <label for="telefono"> Telefono:</label>
            <input type="number" class="form-control" id="telefono" placeholder="Ingresa tu número de telefono ">

        </div>

        <button type="submit" class="btn btn-default" value="Enviar">Enviar</button>
    </form>

</div>

<div class="button-container">

    <div class="button-container">
        <a mat-fab color="primary" mat-flat-button href="https://www.instagram.com/?hl=es" target="_blank">
            <mat-icon>photo_camera</mat-icon>
        </a>
        <hr>
        <a mat-fab color="primary" mat-flat-button href="https://www.youtube.com/" target="_blank">
        
            <mat-icon>headphones</mat-icon>
        </a>
    </div>
    


</div>