<p>
  <mat-toolbar class="mat-elevation-z6" color="primary">
     
    <img class="imgLogo" src="../assets/Imagenes/Rick-and-morty.jpg">

    <span>{{title}}</span>
    <span class="spacer"></span>

    <button  mat-icon-button class="btn-borde" aria-label="Example icon-button with heart icon" routerLink="about">
      About
    </button>

    <button  mat-icon-button class="btn-borde" aria-label="Example icon-button with share icon" routerLink="RickAndMorty">
      view Episodes
    </button>

  </mat-toolbar>
</p>

<div>
<router-outlet></router-outlet>

</div>